{% extends "template.html" %}
{% block title %} - Change List{% endblock %}
{% block content %}

<h1>Change list</h1>

<ul>
 <li>
  <p>
   <b>0.45</b>
   <p>
    Save To and Delete functions<br/>
    Minor bug fixes
   </p>
  </p>
 </li>
 <li>
  <p>
    <b>0.44</b>
    <p>Couple of critical fixes</p> 
  </p>
 </li>
 <li>
  <p>
   <b>0.43</b>
   <p>
     Connections number is limited to save resources.<br/>
     Boring 'Home' tab removed.
   </p>
  </p>
 </li>
 <li>
  <p>
   <b>0.42</b>
   <p>
     Fixed crash when working in background<br/>
     GUI improvements</li>
   </p>
  </p>
 </li>
</ul>

{% endblock %}
