{% extends "template.html" %}
{% block title %} - F.A.Q.{% endblock %}
{% block content %}

<h1>FAQ</h1>
<ul>
 <li>
  <p>
   <b>How to open downloaded file?</b>
   <p>You need to use the separate application. For a movies, I recommend yxflash player from the Cydia. Works perfectly for me.</p>
  </p>
 </li>
 <li>
  <p>
   <b>How to delete downloaded file?</b>
   <p>Swipe on file name in "Save To" tab, then tap "Delete"</p>
  </p>
 </li>
  <li>
  <p>
   <b>Which firmware versions is supported?</b>
   <p>I've tested it on 3.2.x and 4.0.2. iOS 4.1 is not supported yet.</p>
  </p>
 </li>
 <li>
  <p>
   <b>Where is downloaded files located?</b>
   <p>By default, it stored in /var/mobile/Library/Downloads. You can change this location on "Save To" tab</p> 
  </p>
 </li>
 <li>
  <p>
   <b>What is .itorrent or .fastresume dir?</b>
   <p>This directory contain various temporary files. You can delete it safetely after torrent is downloaded.</p> 
  </p>
 </li>
 <li>
  <p>
   <b>Where to find torrents?</b>
   <p>Dude, just google it.</p>
  </p>
 </li>
</ul>

{% endblock %}
