{% extends "template.html" %}
{% block title %}- How To Download Stuff For Free{% endblock %}
{% block content %}
<h1>How to get torrents on your Iphone/Ipad.</h1>
<p>
<b>DISCLAMER<br/>
Author of this app do not respect downloading of copyrighted content. But sometime, .torrent is only or fastest way to get information you need. So, use this application na zdorovie but remember about <a href="http://en.wikipedia.org/wiki/Digital_Millennium_Copyright_Act" target="new">DMCA</a> and greedy lawyers.</b>
</p>
<p>&nbsp;</p>
<p>
<b>TORRENT PLUGIN NOW IN CYDIA!<br/>
Instead of installing plugin form my repository, just use "Torrent Downloader Safari Plugin" from the default cydia repository. DO NOT USE install instruction below, unless you want latest and probably unstable developer's version.</b>
</p>
<p>&nbsp;</p>
<p>
     To download torrents on your Iphone or Ipad, you must first have it jailbroken. After that, simply get on Cydia and add the Ermak Iphone/Ipad repository:
</p>

<p><b>Cydia &raquo; Manage &raquo; Sources &raquo; Edit</b></p>

<p>Add Enter the link “http://cydia.ermak.us” like the picture below.</p>

<p><IMG src="static/IMG_0466.PNG" width="320" height="480" border="0"></p>

<p>After adding the source for the Ermak repository to cydia, the next step is to install Torrent Downloader plugin for the iPhone or iPad.</p> 

<p><b>Cydia &raquo; Manage &raquo; Sources &raquo; Ermak Iphone/Ipad repository &raquo; Torrent Downloader &raquo; Install &raquo; Confirm</b></p>


<p><IMG src="static/IMG_0468.PNG" width="320" height="480" border="0"></p> 

<p><IMG src="static/IMG_0470.PNG" width="320" height="480" border="0"></p>

<p>Once the Torrent plugin installed, you can use it to download torrents. Just open link to torrent in Safari, download and enjoy!<p/>

<p><IMG src="static/IMG_0004.PNG" border="0" width="320" height="480"></p>

<p> Have a good day and don’t hesitate to <a href="http://www.ermak.us/about">ask questions!</a></p>

{% endblock %}
